* {
  padding: 0;
  border: 0;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 8 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: red;
}
.div3 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: white;
}
.div4 {
  grid-area: 3 / 2 / 4 / 3;
  background-color: red;
}
.div5 {
  grid-area: 4 / 2 / 5 / 3;
  background-color: white;
}
.div6 {
  grid-area: 5 / 2 / 6 / 3;
  background-color: red;
}
.div7 {
  grid-area: 6 / 2 / 7 / 3;
  background-color: white;
}
.div8 {
  grid-area: 7 / 2 / 8 / 3;
  background-color: red;
}

.stripes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.red1,
.red2,
.red3 {
  background-color: red;
  height: 25px;
}

.white1,
.white2,
.white3 {
  background-color: white;
}

li {
  padding: 25px;
}
